<section>
    <div>
        <form action="/my-courses/teach/{{isCourse._id}}/edit" method="post">
            <div>
                <label for="title">Course Title</label>
                <input type="text" name="title" value="{{isCourse.title}}" required>
            </div>
            <div>
                <label for="description">Course Description</label>
                <textarea name="description" id="" cols="30" rows="10" required>{{isCourse.description}}</textarea>

            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>