<section>
    <div>
        {{#if message}}
        <p> {{message}} </p>
        {{/if}}
    </div>
    <div>
        <form action="/my-courses/teach/{{_id}}/lesson/new" method="post">
            <div>
                <label for="title">Lesson Title</label>
                <input type="text" name="title" value="{{title}}" required>
            </div>
            <div>
                <label for="video-url">Lesson Video Url</label>
                <input type="text" name="video-url" value="{{videoUrl}}" required>
            </div>
            <div>
                <label for="description">Lesson Description</label>
                <textarea name="description" id="" cols="30" rows="10" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>