<section>
    <h2>Students List</h2>

    {{!-- <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            {{#each nameList}}
            <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table> --}}
</section>