<section>
    <h2>Students List</h2>
    {{#if isCourse.students.length}}
    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            {{#each isCourse.students}}
            <tr>
                <td>{{this.local.firstName}}</td>
                <td>{{this.local.lastName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>Your course doesn't have students registered yet!</p>
    {{/if}}

    <p><a href="/my-courses/teach/{{isCourse._id}}">Back to Course Details Overview</a></p>
</section>