<section>
    <div>
        {{#if success_msg}}
        <p>{{success_msg}}</p>
        {{/if}}
    </div>

    <div>
        <h2>{{isCourse.title}}</h2>
        <figure>
            <img src="{{isCourse.imageUrl}}" alt="course cover image">
        </figure>
        <p>{{isCourse.description}}</p>
    </div>
    <div>
        <h3>Modules</h3>
        <p>Coming soon</p>
    </div>
</section>