<section>
    <div>
        {{#ifEqualsHelper role 'instructor'}}
        <div>
            <h2>Courses I'm Teaching</h2>
        </div>
        {{/ifEqualsHelper}}
        <div>
            <h2>Courses I'm Taking</h2>
        </div>
    </div>
</section>